<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinke.calligraphy.app.branch"
    android:versionCode="81"
    android:versionName="1.000.201206271339" >

    <uses-sdk android:minSdkVersion="11" />

    <application
        android:icon="@drawable/ccnote"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity
            android:name=".Start"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" /> <!-- 必须，否则无效 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jinke.calligraphy.fliplayout.PicActivity" />

        <receiver android:name="com.jinke.calligraphy.date.AlarmReceiver" >
            <intent-filter>
                <action android:name="com.jinke.calligraphy.action.BC_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jinke.calligraphy.backup.BackupReceiver" >
            <intent-filter>
                <action android:name="jinke.readings.sync" />
            </intent-filter>
        </receiver>

        <service android:name=".TransmitProtocolService" />

        <activity android:name="com.jinke.calligraphy.backup.KanBoxActivity" />
        <activity android:name="com.jinke.kanbox.WeiboWeb" />
        <activity
            android:name="com.jinke.calligraphy.activity.MainTab"
            android:theme="@style/dialog" />
        <activity
            android:name="com.jinke.calligraphy.activity.DownloadProgressActivity"
            android:theme="@style/dialog" />
        <activity android:name="com.jinke.calligraphy.activity.Cloud" />
        <activity android:name="com.jinke.calligraphy.activity.Local" />
        <activity
            android:name="com.jinke.calligraphy.activity.CalligraphyIndex"
            android:theme="@style/dialog" />
        <activity android:name="com.jinke.calligraphy.activity.VideoActivity" />
        <activity android:name="com.jinke.pdfcreator.CloudActivity" />
        <activity
            android:name="com.jinke.calligraphy.app.branch.SelectPopWindow"
            android:theme="@style/MyDialogStyleBottom" >
        </activity>
        <service android:name="com.jinke.smartpen.RecordingService"/>
        <service android:name="com.jinke.calligraphy.app.branch.pingyuService" >
        </service>

        <activity android:name="com.jinke.calligraphy.app.branch.bighistoryimage" >
        </activity>
        <activity
            android:name="com.jinke.smartpen.SelectDeviceActivity"
            android:screenOrientation="portrait" />
                <activity android:name="com.jinke.smartpen.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Holo.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        <service
            android:name="com.jinke.smartpen.BluetoothLEService"
            android:enabled="true" />        
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SEND_XXX" />
    
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 5.0之后蓝牙还需要位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
</manifest>